<section>
    <div class="container">
        <div class="left">
                <h3><span class="highlight">Hello!</span> I'm Arek</h3>
            <div class="about-me">
                {% for intro in intros %}
                <p>{{ intro.description|safe }}</p>
                {% endfor %}
            </div>
            <div class="icons">
            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/arkadiusz-bauer/" target="_blank">
                    <i class="fa-brands fa-linkedin fa-xl" style="color: #ccd6f6;"></i></a>
                </li>
                <li>
                    <a href="https://github.com/arekbauer" target="_blank">
                    <i class="fa-brands fa-github fa-xl" style="color: #ccd6f6;"></i></a>
                </li>
                    <a href="mailto:arek.bauer12@gmail.com">
                <li><i class="fa-regular fa-envelope fa-xl" style="color: #ccd6f6;"></i></li></a>
            </ul>
            </div>
        </div>
        <div class="right">
            {% for intro in intros %}
            <picture>
                <source srcset="{{ intro.image_small.url }}" media="(max-width: 770px)">
                <!-- Wider than 770px -->
                <source srcset="{{ intro.image.url }}" media="(min-width: 771px)">
                <!-- Fallback image -->
                <img src="{{ intro.image.url }}" alt="Responsive Image" class="profile-pic">
            </picture>
            {% endfor %}
        </div>
    </div>
</section>