<section>
    <div class="intro">
        <p class = code-text>Hi, my name is</p>
        <h1>Arkadiusz Bauer</h1>
        <h4>Software QA Intern at Hewlett Packard Enterprise</h4>
        <p>A Computer Science student at the University of Nottingham. Currently in my industry year at Hewlett Packard Enterprise as a Software Quality Assurance intern.</p>
        <br>
        <!-- Here i would like to add links to linkedin and github via icons -->
        <br> <br>
    <br> 
    </div>
    <div class="about-me">
        <div class="titles">
            <h1>About Me</h1>
            <hr noshade>
        </div>
        {% for intro in intros %}
        <p>{{ intro.description|safe }}</p>
        <img src="{{ intro.image.url}}" class="profile-pic">
        {% endfor %}
    </div>
</section>