{% extends 'portfolio/base.html' %}
{% block content %}
{% load static %}
<html>
    <body>
          <div>
              <section id="about">
                {% include 'portfolio/about-me.html' %}
              </section>
      
              <section id="projects">
                {% include 'portfolio/projects.html' %}
              </section>
      
              <section class="four">
                  <h1>Fourth Page</h1>
              </section>
          </div>
  </body>
</html>

{% endblock %}