<div class="container-projects">
    <header>
      <h1>Projects</h1>
    </header>
    <div class="project-filter-buttons">
      <button data-filter="" class="filter-button clear-button active-filter">All</button>
      {% for skill in most_common_skills %}
        <button data-filter="{{ skill }}">{{ skill }}</button>
      {% endfor %}
    </div>
    
    <div class="projects-grid">
      {% for project in projects %}
      <div class="project-card">
        <img src="{{ project.image.url }}">
        <a href="{{ project.url }}" target="_blank"><h3>{{ project.title }}</h3></a>
          <p>{{ project.description }}</p>
          <div class="skills">
              {% if project.skill1 %}
              <span>{{ project.skill1 }}</span>
              {% endif %}
              {% if project.skill2 %}
              <span>{{ project.skill2 }}</span>
              {% endif %}
              {% if project.skill3 %}
              <span>{{ project.skill3 }}</span>
              {% endif %}                                    
              {% if project.skill4 %}
              <span>{{ project.skill4 }}</span>
              {% endif %}
          </div>
      </div>
      {% endfor %}
    </div>
</div>

<!-- <div class="projects-grid">
    <div class="project mongodb react bootstrap">
      <img src="http://placehold.it/350x250" alt="" class="project-image" />
      <h2 class="project-title">Project title</h2>
      <div class="badges">
        <span>react</span>
        <span>mongodb</span>
        <span>bootstrap</span>
      </div>
  </div> -->