<div class="container-projects">
    <header>
      <h1>Projects</h1>
    </header>
    <div class="project-filter-buttons">
      <button data-filter="" class="filter-button clear-button active-filter">All</button>
      {% for skill in most_common_skills %}
        <button data-filter="{{ skill }}" class="filter-button">{{ skill }}</button>
      {% endfor %}
    </div>
    
    <div class="projects-grid">
      {% for project in projects %}
      <div class="project-card {{ project.skill1 }} {{ project.skill2 }} {{ project.skill3 }} {{ project.skill4 }}">
        <a href="{{ project.url }}" target="_blank"><img src="{{ project.image.url }}">
        <h3>{{ project.title }}</h3>
          <p>{{ project.description | safe}}</p>
          <div class="skills">
              {% if project.skill1 %}
              <span>{{ project.skill1 }}</span>
              {% endif %}
              {% if project.skill2 %}
              <span>{{ project.skill2 }}</span>
              {% endif %}
              {% if project.skill3 %}
              <span>{{ project.skill3 }}</span>
              {% endif %}                                    
              {% if project.skill4 %}
              <span>{{ project.skill4 }}</span>
              {% endif %}
          </div>
      </div></a>
      {% endfor %}
    </div>
</div>