<section class="projects">
    <div class="titles">
        <h1>Projects</h1>
        <hr noshade>
    </div>
    <div class="container">
        {% for project in projects %}
        <div class="row">
            <div class="image">
                {% if project.url %}
                <a href="{{ project.url }}"><img src="{{ project.image.url }}"></a>
                {% endif %}
                <div class="details">
                    <h1>{{ project.title }}</h1>
                    <p>{{ project.description }}</p>
                    <ul>
                    {% if project.skill1 %}
                    <li>{{ project.skill1 }}</li>
                    {% endif %}
                    {% if project.skill2 %}
                    <li>{{ project.skill2 }}</li>
                    {% endif %}
                    {% if project.skill3 %}
                    <li>{{ project.skill3 }}</li>
                    {% endif %}                                    
                    {% if project.skill4 %}
                    <li>{{ project.skill4 }}</li>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>