:root {
    --darkest-blue: #0A192F;
    --mid-blue: #112240;
    --light-blue: #8892B0;
    --lighter-blue: #CCD6F6;
    --lightest-blue: #E6F1FF;
    --clear-blue:#94A3B8;
    --cream: #64FFDA;
    --hover: #64FFDA;
    --code-font: 'Inconsolata', monospace; /*400, 600 */
    --default-font:'Roboto', sans-serif; /*300, 400, 700 */
}

.lightmode {
    --darkest-blue: #f5f3f0;
    --mid-blue: #e1dbd1;
    --light-blue: #aaaaaa;
    --lighter-blue: black; /*titles */
    --lightest-blue: #322f2a;
    --clear-blue:#322f2a; /* text */
    --cream: #112240;
    --hover: #aaaaaa;
}

body {
    color: white;
    background-color: var(--darkest-blue);
    font-family: var(--default-font);
    font-weight: 400;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

/*Scrollbar*/
html {
    -ms-overflow-style: none;  /* Hide scrollbar in Internet Explorer and Edge */
    scrollbar-width: none;  /* Hide scrollbar in Firefox */
}

/* ::-webkit-scrollbar {
    width: 2px;
}
   
::-webkit-scrollbar-thumb {
    background-color: var(--light-blue);
} */

a {
    text-decoration: none;
    color: var(--cream);
}

.titles h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--cream);
    font-family: var(--code-font);
    font-weight: 400;
    font-size: 4.5em; 
}

/* CSS for the navigation bar - nav, button and logo*/
.header {
    position: fixed;
    background-color: var(--darkest-blue);
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar a {
    color: var(--lighter-blue);
    display: flex;
    font-family:var(--code-font);
    font-weight: 400;
    text-decoration: none;
    padding: 10px 20px;
} 

.navbar a:hover {
    color: var(--hover);
}

.btn {
    font-family: var(--code-font);
    font-weight: 400;
    color: var(--cream);
    background-color: var(--darkest-blue);
    padding: 7px 14px;
    border: solid #64ffda 1px;
    border-radius: 5px;
    transition : 795ms;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-right: 30px;
    margin-left: 20px;
}

.btn:hover {
    font-weight: 600;
    transition : 795ms;
    padding: 10px 20px;
    background-color: #64ffdbce;
    color: #0a192f;
    border: solid 1px var(--darkest-blue);
}

#theme-switch {
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-right: 30px;
    margin-left: 20px;
    background: none;
    border: none;
}

#theme-switch svg:last-child{
    display: none;
}

.lightmode #theme-switch svg:first-child {
    display: none;
}

.lightmode #theme-switch svg:last-child{
    display: block;
}

.header h3 {
    color: var(--cream);
    font-family:var(--code-font);
    font-weight: 600;
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 0.75em;
    margin-top: 0.5rem;
    font-size: 150%;
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
} /* TODO: Add JS code to fix scrolling issue on Chrome */

section { 
    height: 91vh;
    scroll-snap-align: start;
    scroll-margin-top: 78px;
    margin-top: 5%;
}

/* section:last-of-type {
    height: 94vh;
} */

#sidebar-active { 
    display: none;
}

.open-sidebar-button, .close-sidebar-button {
    display: none;
}

@media(max-width: 700px){
    .header { 
        padding-top: 0;
        padding-bottom: 0;
        height: auto;
        background-color: var(--mid-blue);
        box-shadow: -5px 0 5px rgba(0,0,0,0.25);
    }
    .links-container {
        flex-direction: column;
        align-items: start;

        padding-top: 5%;
        height: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        background-color: var(--mid-blue);
        box-shadow: -5px 0 5px rgba(0,0,0,0.25);
        transition: 0.3s ease-out;
    }

    .navbar a {
        box-sizing: border-box;
        height: auto;
        font-size: 1.2rem;
        padding: 20px 30px;
    }

    #theme-switch {
        box-sizing: border-box;
        font-size: 1.2rem;
        padding: 25px 10px;
    }

    .btn { 
        display: none;
    }

    .open-sidebar-button, .close-sidebar-button {
        padding : 20px;
        display: block;
    }

    .close-sidebar-button {
        margin-left: auto;
        margin-top:-5%;
    }

    #sidebar-active:checked ~ .links-container {
        right: 0;
    }

    #sidebar-active:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

    html {
        scroll-snap-type: none;
    } /* TODO: Add JS code to fix scrolling issue on Chrome */
    
    section { 
        scroll-snap-align: none;
    }

    section:nth-child(2) {
        margin-top: 30%;
    }

    section:nth-child(3) {
        margin-top: 30%;
    }
}

@media(max-height: 775px) {
    section:nth-child(2) {
        margin-top: 65%;
    }
}