a {
    text-decoration: none;
}

.container-projects{
    margin: 0 auto;
    width: 70%;
    margin-left:15%;
    height: 90vh;    
    border-width: 1px; 
}

.container-projects header {
    margin: 0;
    text-align: center;
    padding-top: 1.5%;
}

.container-projects h1 {
    color: var(--lighter-blue);
    font-family: var(--default-font);
    font-weight: bold;
    font-size: 3.4rem;
}

.project-filter-buttons {
    text-align: center;
    margin-top: 1%;
}

.project-filter-buttons {
    button {
        margin: 5px;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        background: var(--cream);
        cursor: pointer;
        outline: none;
        color: var(--darkest-blue);

        &:first-child {
            background: var(--lightest-blue); 
        }
    }
}

.project-filter-buttons button:hover {
    background: var(--clear-blue);
}

.project-filter-buttons button.active-filter {
    background: var(--mid-blue);
    border: 1px solid var(--lighter-blue);
    color: var(--cream);
}

.projects-grid {
    display: flex;
    /* border: 1px solid yellow;    */
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    overflow: auto;
    max-height: 80vh;
    padding-left: 6%;
}

.project-card {
    transition: 0.3s;
    min-height: 300px;
    min-width: 250px;
    border-radius: 5px;
    width: 28%;
    margin: 10px;
}

.project-card img {
    width: 100%;
    padding: 20px;
    border-radius: 25px;
}

.project-card:hover {
    /* box-shadow: 0 8px 16px 0 rgba(2,12,27,0.7); */
    background-color: var(--mid-blue);
    color: var(--cream);
}

.project-card h3 {
    color: var(--lighter-blue);
    text-align: center;
    font-family: var(--default-font);
    font-weight: 700;
    font-size: 1.5rem;
    padding-top: 2%;
}

.project-card:hover h3 {
    color: var(--cream);
}


.project-card p {
    color: var(--clear-blue);
    font-family: var(--default-font);
    font-weight: 300;
    text-align: center;
    font-size: 0.9rem;
    margin: 3%;
}

.project-card > .skills {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}

.project-card > .skills > span {
    /* colouring */
    border: 1px solid var(--cream);
    color: var(--cream);
    background-color: var(--mid-blue);
    font-family: var(--code-font);
    font-size: 0.9rem;

    /* positional */
    border-radius: 5px;
    padding: 4px 10px 4px 10px;
    position: relative;
    margin: 5px;
}